[submodule "litegl"]
	path = litegl
	url = git@realmaxdemos.com:/var/opt/gitlab/git-data/repositories/realweb/litegl.js.git
[submodule "collabserver"]
	path = collabserver
	url = git@realmaxdemos.com:/var/opt/gitlab/git-data/repositories/realweb/collabserver.git
[submodule "liteserver"]
	path = liteserver
	url = git@realmaxdemos.com:/var/opt/gitlab/git-data/repositories/realweb/litefilesystem.js.git
[submodule "litescene"]
	path = litescene
	url = git@realmaxdemos.com:/var/opt/gitlab/git-data/repositories/realweb/litescene.js.git
[submodule "litegui"]
	path = litegui
	url = git@realmaxdemos.com:/var/opt/gitlab/git-data/repositories/realweb/litegui.js.git
